{{outlet}}


  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Events
          </h4>
        </div>{{!-- panel-heading --}}
        <table class="table table-fixed">
          <thead>
            <tr>
              <th class="col-xs-4">Date</th><th class="col-xs-2">Title</th><th class="col-xs-6">Description</th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |event|}}
              <tr>
                <td class="col-xs-4">{{formatDate "LL" event.date}}</td><td class="col-xs-2">{{event.title}}</td><td class="col-xs-6">{{event.description}}</td>
              </tr>
            {{/each}}

          </tbody>
        </table>
      </div>{{!-- panel panel-default --}}
  </div>{{!-- row --}}
