<div id="wrapper">

  <!-- sidebar -->

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Logo?
        </a>
      </li>
      <li>
        {{#link-to 'events'}}Events{{/link-to}}
      </li>

      <li>
        {{#link-to 'recipients'}}People{{/link-to}}
      </li>
      <li>
        {{#link-to 'gifts'}}Gifts{{/link-to}}
      </li>
      <li>
        <a href="/settings">Settings</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div><!-- sidebar-wrapper -->

  <!-- end sidebar -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
      </div><!--col-lg-12-->
    </div><!--row-->
  </div><!--container-fluid-->
</div><!--page-content-wrapper-->

</div><!--wrapper -->
