<div id="wrapper">

  <!-- sidebar -->

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          <img class="brand-logo" src="assets/images/logo-present5.png">
        </a>
      </li>
        <!-- Login, logout, sign up  -->
      <li>
        {{#if session.isAuthenticated}}
        <a href="#" {{action 'invalidateSession'}}>Logout</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </li>
      <li>
        {{#link-to 'events'}}Events{{/link-to}}
      </li>

      <li>
        {{#link-to 'recipients'}}People{{/link-to}}
      </li>
      <li>
        {{#link-to 'gifts'}}Gifts{{/link-to}}
      </li>
      <li>
        <a href="/settings">Settings</a>
      </li>
    </ul>
  </div><!-- sidebar-wrapper -->

  <!-- end sidebar -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <div id="detail-view">
        Welcome to Gift Assist!
      </div><!-- detail-view -->
    </div><!-- col-lg-12 -->
  </div><!-- row -->

    <div class="row">
      <div class="col-lg-12">
        <div id="index-view">

        {{outlet}}

      </div><!-- index-view -->
      </div><!-- col-lg-12 -->
    </div><!-- row -->
  </div><!-- container-fluid -->
</div><!-- page-content-wrapper -->

</div><!-- wrapper -->
